.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 80vw;
  width: 100%;
  min-height: 70vh;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translateY(-10%); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

/* Заголовок */
.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

/* Поля формы */
.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.modal-content textarea {
  resize: none;
  height: 80px;
}

/* Кнопки */
.create-task-btn {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--green);
  color: white;
  margin-top: auto
}

.create-task-btn:hover {
  background-color: var(--green-l);
}

.close-btn {
  border: none;
  cursor: pointer;
  background: transparent;
  margin-top: -5px;
}

.btns-cont img {
  width: 17px;
  height: 17px;
}

.edit-btn {
  width: 20px !important;
  height: 20px !important;
}

.mde-header .mde-tabs button {
  color: black;
  border-radius: 5px;
}

.mde-textarea-wrapper textarea.mde-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.header-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-cont {
  display: flex;
  gap: 2%;
  justify-content: space-between;
  height: calc(70vh - 100px);
}

.left-modal,
.right-modal {
  display: flex; /* Используем flexbox для вложенных элементов */
  flex-direction: column; /* Располагаем элементы вертикально */
  height: 100%; /* Растягиваем на всю высоту */
}

.left-modal {
  height: 100%;
  flex-grow: 1;
}

.mde-text {
  resize: none !important;
  flex-grow: 1 !important;
  height: 100%;
}

.mde-cont > * {
  margin-top: 10px;
  flex-grow: 1;
}

.right-modal {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.text-area {
  flex-grow: 1 !important;
}

.mde-cont .mde-textarea-wrapper .mde-text {
  height: calc(70vh - 33vh) !important;
}

.watch-mode {
  display: flex;
  flex-direction: column;
}

.watch-mode button {
  width: fit-content;
  justify-self: end;
}

/* .edit-mode .mde-textarea-wrapper .mde-text {
  height: 90px !important;
} */

.edit-mode .react-mde {
  margin: 10px 0;
}

.edit-buttons{
  margin-top: 100px;
  align-self: flex-end;
}

.edit-buttons button{
  padding: 10px 15px; /* Добавляем комфортные отступы */
  border: 1px solid #ccc; /* Цвет рамки, как у селекта */
  border-radius: 5px; /* Закругляем углы, как у селекта */
  background-color: #fff; /* Белый фон */
  color: #333; /* Цвет текста */
  font-size: 16px; /* Размер текста */
  cursor: pointer;
  transition: all 0.3s ease; /* Добавляем плавный переход */
  margin-right: 10px;
}

.edit-buttons button:first-child{
  background-color: var(--green); /* Белый фон */
  color: white;
}

.description{
  max-height: 40vh;
  overflow-y: auto;
  scrollbar-width: thin;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description h2{
  margin-bottom: 0;
  padding-bottom: 0;
}